---
---
.container {
	max-width: 800px;
	overflow-x: hidden;
}

hr {
	padding-top: 10px;
	clear: both;
	display: block;
}

ul {
	list-style-type:none;
	padding:0;
	margin-left:0;
}

li {
	margin-bottom:0.5em;
}

@mixin inline-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;

	li {
		float: left;
		display: block;
		text-align: left;
		padding: 0 20px 10px 0;
		margin:0;
	}
}

h2#references--weblinks + ul {
	@include inline-list;
}

@media print {
	a[href^="http://"]:after,
	a[href^="https://"]:after {
		content: " (" attr(href) ") ";
		font-size: 0.8em;
		font-weight: normal;
	}

	.pagebreak { page-break-before: always; }
}
