<!DOCTYPE html>
{% include dependency_versions.md %}
<html lang="{{ site.lang }}">
	<head>
		<meta charset="{{ site.charset }}" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<meta name="format-detection" content="telephone=no" />
		{% seo %}

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/{{ dependency_bootstrap }}/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/assets/css/style.css?{{site.time | date: '%s%N'}}" />
		<link rel="icon" href="/assets/img/favicon.ico" type="image/x-icon" />
	</head>
	<body>
		<div class="container py-2">
			{{ content }}
		</div>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/{{ dependency_jquery }}/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/{{ dependency_bootstrap }}/js/bootstrap.bundle.min.js"></script>
	</body>
</html>
